html{

}

body { text-align: center; 
    
}

img{
    float: left;
}

.cycle-slideshow.img{
    justify-content: center;
}

.nav{
    display: flex;
   justify-content: center;
}
.nav ul {
    display: flex;
    width: 80%;
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    padding: 0%;
    margin: 0%;
    justify-content: center;
    
    
}

.nav a{
    color: #000;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    border-style: solid;  
    justify-content: center;
}

.nav a:hover{
    background-color: rgb(255, 255, 255);
    border: #089352;
    border-style: solid;
}

.nav li{
    float: left;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
}


.testimonials {
    display: flex;
}

.test {
    flex: 1;
    border: solid #000;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
    flex-basis: 30%;
}

footer{

    border-style: solid;
}