html{

}

body { text-align: center; 
    
}

img{
    align-content: center;
}
.navbar ul {
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    padding: 0%;
    margin: 0%;

}

.navbar a{
    color: #000;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}

.navbar a:hover{
    background-color: rgb(255, 255, 255);
    border: #089352;
    border-style: solid;

}

.navbar li{
    
}

body header{
    border-style: solid;


}

.testimonials {
    display: flex;
}

.test {
    flex: 1;
    border: solid #000;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
    flex-basis: 30%;
}

footer{

    border-style: solid;
}